---
info:
  application: RentMe connected trucks Demo
  show: Spring One 2GX 2015

endpoints:
  restart: enabled

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 10
  client:
    region: default
    registryFetchIntervalSeconds: 5

---
spring:
  profiles: cloud
eureka:
  instance:
    hostname: ${vcap.application.uris[0]:localhost}
    nonSecurePort: 80
    metadataMap:
      instanceId: ${vcap.application.instance_id:${spring.application.name}:${spring.application.instance_id:${server.port}}}
  client:
    serviceUrl:
      defaultZone: ${vcap.services.eureka.credentials.uri:127.0.0.1:8761}/eureka/
