eureka:
  instance:
    hostname: localhost
    leaseRenewalIntervalInSeconds: 10
    metadataMap:
      instanceId: ${vcap.application.instance_id:${spring.application.name}:${server.port:8080}}
  client:
    serviceUrl:
#      defaultZone: ${vcap.services.eureka.credentials.uri:http://localhost:8761}/eureka/
      defaultZone: http://fleet-eureka-server.local.micropcf.io/eureka/


---
spring:
  profiles: cloud
eureka:
  instance:
    hostname: ${vcap.application.uris[0]}
    nonSecurePort: 80

